* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  height: 10vh;
}
.main {
  min-height: 80vh;
}
.footer {
  height: 10vh;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav__link {
  color: #181818;
  transition: all 0.2s ease-in;
}
.nav__link:hover {
  color: dodgerblue;
}

.radio-toggles label {
  cursor: pointer;
  padding: 3px;
}
